
  <ion-content [fullscreen]="true" class="ion-padding" >

    <ion-grid class="radius">

        <ion-row class="header-line">
          <ion-title>  Home  </ion-title>
        </ion-row>
        
        <ion-row class="body-img">
          <ion-col size="12">
            <img src="assets/images/img.01">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> 
            <ion-button type="rodape" expand="block" >Ir para agendamento!</ion-button>
          </ion-col>
        </ion-row>
 
    </ion-grid>
  </ion-content>
 
  
  <ion-footer class="footer-line">
    <ion-row>
        <ion-button class="button-footer1">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        
        <ion-button class="button-footer2">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
      </ion-row>

  </ion-footer>