<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olá Fulano, agendamento finalizado!</ion-title> <!--adicionar variavel que retorna nome do cadastro após o olá-->
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    
  <ion-card>
    <ion-card-header>
      <ion-card-title>Teste</ion-card-title>
      <ion-card-subtitle>Teste</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      esse texto é um teste  
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer-line">
  <ion-row>
      <ion-button class="button-footer1">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      
      <ion-button class="button-footer2">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-row>

</ion-footer>