ion-card {
    --background: #92799D;
  border-radius: 15px;
  overflow: hidden;
}


.button-footer1{
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .button-footer2{
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .footer-line{
    background: black;
  }