<ion-header class="header-top">
  <ion-grid>
      <ion-row class="header-line">
        <ion-col size="12">
          <p class="strong">Home</p>
        </ion-col>
      </ion-row>

    <ion-grid>
      <ion-row >
        <ion-col size="12">
          <img class="body-img" [src]="barberImg + 'img01.jpg'">
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <ion-row class="header-line">
      <ion-col size="12">
        <p class="strong">Serviços</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>  

<ion-content scroll-Y="false" class="body-top">

  <ion-grid class="body-grid">    
     <ion-row *ngFor="let item of items; let ix = index">
      <ion-col size="6">
        <p class="body-line">{{ item.titulo }}</p>
      </ion-col>
      
        <ion-col size="6" >
          <ion-button class="body-button" (click)="addItem(item)" *ngIf="!item.adicionado"> + </ion-button>
          
          <ion-button class="body-button" (click)="removeItem(item)" *ngIf="item.adicionado"> - </ion-button>
        </ion-col>
      </ion-row>
      
     <ion-row>
        <ion-col size="12"> 
          <ion-button type="rodape" expand="block">Escolha seu barbeiro</ion-button>
        </ion-col>
      </ion-row>      
  </ion-grid>
</ion-content>


<ion-footer class="footer-line">
  <ion-row>
      <ion-button class="button-footer1">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      
      <ion-button class="button-footer2">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-row>

</ion-footer>
