.row-img{
 text-align: center;
}
 
 .body-img{ 
   border-radius: 40px;
   height: 80%;
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   
 }
 
 .header-line1{
   text-align: left;
   font-size: 10px;
   margin-left: 20px;
   font-family: 'Fonte', sans-serif;
   margin-top: 20px;
 }

 .header-line2{
  text-align: left;
  font-size: 10px;
  margin-left: 20px;
  font-family: 'Fonte', sans-serif;
  margin-top: -40px;
  
}

 .body-grid{
   background:  #382439;
   border-radius:20px 20px 0px 0px;
   height: 100%;
   width: 100%;
   
 }

 .body-button{
   margin-left: auto;
   margin-right: auto;
   height: 90%;
   margin-top: -2px;
 }
   .select-row{
    background-color:#bba2b7;
    border-radius:30px ;
    height: 50px;
    margin-bottom: 5px;
   }
   ion-button[type="rodape"] {
    --ion-color-primary: #149529;
    --ion-color-primary-shade: #096919;
    --border-radius: 10px;
    width: 70%;
    height: 40px;
    margin-left: 15%;
    margin-top: 50px;
  }

 .body-line{
   margin-left: 20%;
   font-family: 'Fonte', sans-serif;
 
 }
 
 .button-footer1{
   margin-right: auto;
   margin-left: auto;
   
 }
 
 .button-footer2{
   margin-right: auto;
   margin-left: auto;
   
 }
 
 .footer-line{
   background: black;
 }