.header-top{
  height: 300px; 
 
 }
 
 .body-img{
   width: 94%;
   height: 70%;
   border-radius: 40px;
   margin-top: 20%;
   margin-left: 3%;
   margin-bottom: -20px;
 }
 
 ion-button[type="rodape"] {
   --ion-color-primary: #149529;
   --ion-color-primary-shade: #096919;
   --border-radius: 10px;
   width: 70%;
   height: 40px;
   margin-left: 15%;
 
 }
 
 .header-line{
   margin-bottom: -90px;
   text-align: left;
   font-size: 20px;
   margin-left: 20px;
   font-family: 'Fonte', sans-serif;
 }
 .body-top{
   margin-top: 300px;
 }
 
 .body-grid{
   background:  #382439;
   border-radius:20px 20px 0px 0px;
   height: 100%;
   width: 100%;
   font-family: 'Fonte', sans-serif;
   
 }
 .body-button{
   margin-left: 70%;
 }
 .body-line{
   margin-left: 20%;
   font-family: 'Fonte', sans-serif;
 
 }
 
 .button-footer1{
   margin-right: auto;
   margin-left: auto;
   
 }
 
 .button-footer2{
   margin-right: auto;
   margin-left: auto;
   
 }
 
 .footer-line{
   background: black;
 }