<ion-header class="header-top" >
      <ion-row class="header-line1">
        <ion-col size="6">
          <h4 class="strong">Home</h4>
        </ion-col>
      </ion-row>

     <ion-row class="row-img">
        <ion-col size="12">
          <img class="body-img" [src]="barberImg + 'img01.jpg'">
        </ion-col>
      </ion-row> 
      
    <ion-row class="header-line2">
      <ion-col size="6">
        <h4 class="strong">Serviços</h4>
      </ion-col>
    </ion-row>
</ion-header>  

<ion-content scroll-Y="false">

  <ion-grid class="body-grid">    
     <ion-row  *ngFor="let item of items; let ix = index" [ngClass]="{'select-row': item.adicionado}">
      <ion-col size="10">
        <h5 class="body-line">{{ item.titulo }}</h5>
      </ion-col>
      
        <ion-col size="2" >
          <ion-button class="body-button" (click)="addItem(item)" *ngIf="!item.adicionado"> + </ion-button>
          
          <ion-button class="body-button" (click)="removeItem(item)" *ngIf="item.adicionado"> - </ion-button>
        </ion-col>
      </ion-row>
      
     <ion-row>
        <ion-col size="12"> 
          <ion-button type="rodape" expand="block" routerLink="/selec-barb">Escolha seu barbeiro</ion-button>
        </ion-col>
      </ion-row>      
  </ion-grid>
</ion-content>



<ion-footer class="footer-line">
  <ion-row class="ion-align-items-center header-subline">
    <ion-col size="6">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button  [value]="categoria[0].id" class="button-footer">
          <ion-icon name="home"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-col>

    <ion-col size="6">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button [value]="categoria[1].id" class="button-footer">
          <ion-icon name="calendar"></ion-icon>
        </ion-segment-button>

      </ion-segment>
    </ion-col>
  </ion-row> 
</ion-footer>

