ion-toolbar{
    text-align: flex;
    background-color: transparent;
    --background: transparent;
    padding: 20px;
  }

  .titulo{
    font-family: 'Fonte', sans-serif;
  }

  ion-grid{
    background: #382439;
    border-radius:20px 20px 0px 0px;
    height: 100%;
  }
  ion-button[type="rodape"] {
    --ion-color-primary: #149529;
    --ion-color-primary-shade: #149529;
    --border-radius: 15px;
    background: #382439;
    margin-top: 20%;
  }
  ion-datetime{
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background: #92799D;
    --color: #FFFFFF; /* Cor do texto */
    --placeholder-color: #FFFFFF; /* Cor do texto de espaço reservado */
    --ion-color-primary: #000000; /* Cor principal do seletor */
    --ion-color-primary-contrast: #FFFFFF; /* Cor do texto contrastante para a cor principal */
    --ion-color-primary-shade: #92799D; /* Cor do sombreado da cor principal */
    --ion-color-placeholder: #FFFFFF;
  }

.nome-barber{
    font-family: 'Fonte', sans-serif;
    
}

.voltar{
  font-size: 24px;
}
.custom-datetime::after{
  color:#FFFFFF;
}
