

ion-button[type="submit"] {
    --ion-color-primary: #92799d;
    --ion-color-primary-shade: #92799d;
    font-size: 18px;
    --border-radius: 20px;
  }

ion-button[type="rodape"] {
    --ion-color-primary: #149529;
    --ion-color-primary-shade: #149529;
    --border-radius: 20px;
    font-size: 18px;
  }
ion-row{

}

ion-toolbar{
    text-align: center;
    --background:#563751;
    padding: 20px;
  }
ion-title{
  font-size: 29px;
  }

  .radius{
    background: #382439;
    border-radius:20px 20px 0px 0px;
    height: 100%;
  }




