<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="break"> Selecione o barbeiro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >



  <ion-grid class="radius">
    <ion-toolbar class="botao-voltar">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
      <ion-row>
        <ion-button type="submit">Matheus de Almeida</ion-button>
      </ion-row>
      
      <ion-row>
        <ion-button type="submit"> João Pedro Aguiar</ion-button>
      </ion-row>

      <ion-row>
        <ion-button type="submit"> Jonathan Taveres</ion-button>
      </ion-row>


      <ion-footer>
        <ion-button type="rodape" expand="block" >Ir para datas!</ion-button>
      </ion-footer>
      
  </ion-grid>



</ion-content>



