<ion-header [translucent]="true">
  <ion-row class = "cabeçalho">
    <ion-col class = "cabeçalho-conteudo">Selecione seu barbeiro</ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="corpo">
      <ion-row size = "5">
        <ion-button> Matheus de Almeida</ion-button>
      </ion-row>
      
      <ion-row>
        <ion-button> João Pedro Aguiar</ion-button>
      </ion-row>

      <ion-row>
        <ion-button> Jonathan Taveres</ion-button>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-button class="botão-rodapé">Ir para datas!</ion-button>
</ion-footer>
