<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Selecione o barbeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="radius">
      <ion-row>
        <ion-button type="submit"> Matheus de Almeida</ion-button>
      </ion-row>
      
      <ion-row>
        <ion-button type="submit"> João Pedro Aguiar</ion-button>
      </ion-row>

      <ion-row>
        <ion-button type="submit"> Jonathan Taveres</ion-button>
      </ion-row>

      
  </ion-grid>


</ion-content>
<ion-footer>
  <ion-button type="rodape" expand="block">Ir para datas!</ion-button>
</ion-footer>


