<ion-content scroll-y="false" class="ion-padding">
  <div class="logo">
    <img src="assets/04-3.png" alt="Imagem" />
  </div>

  <div class="na-regua">
    <p>Na régua!</p>  
  </div>

  <div class ="login">
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" name="email" placeholder="exemplo@exemplo.com">
        <ion-icon name="mail"></ion-icon>
      </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" name="password" placeholder="********">
        <ion-icon name="lock-closed"></ion-icon>  
        </ion-input>
    </ion-item>
    </ion-list>
  </form>
  </div>
  
  <div class ="cadastro">
    <ion-col>
       <p>Não tem conta? <ion-router-link routerLink="/cadastro">Cadastre-se</ion-router-link></p>
    </ion-col>
  </div>
  <div class = "login">
      <ion-button class = "login" type="submit" expand="block" routerLink="/home" >Entrar</ion-button>
  </div>
  </ion-content>
s