<ion-header class="header-top">
  <ion-row class="header-line1">
    <ion-col size="6">
      <h4 class="strong">Barbeiro</h4>
    </ion-col>
  </ion-row>

 <ion-row class="row-img">
    <ion-col size="12">
      <img class="body-img" [src]="barberImg + 'img01.jpg'">
    </ion-col>
  </ion-row> 
  
<ion-row class="header-line2">
  <ion-col size="6">
    <h4 class="strong">Funcionalidades</h4>
  </ion-col>
</ion-row>
</ion-header>  

<ion-content scroll-Y="false" >

<ion-grid class="body-grid">    

   <ion-col>
      <ion-row >
        <ion-button type="submit"> Agendamentos </ion-button>
      </ion-row>
  </ion-col>    
</ion-grid>
</ion-content>