ion-button[type="submit"] {
    --ion-color-primary: #92799d;
    --ion-color-primary-shade: #92799d;
    --border-radius: 20px;
    font-size: 1.2em; /* Tamanho da fonte ajustado */
    width: 100%;
    margin-top: 5%;
  }
  
 ion-footer{
  background: #382439;
  }

  .botao-voltar{
      background-color: transparent;
      --background: transparent;
      --ion-color-primary: #FFFFFF;
      --ion-color-primary-shade: #FFFFFF;
      font-size: 24px; 
  }


ion-toolbar{
    text-align: flex;
    background-color: transparent;
    --background: transparent;
    padding: 20px;
    text-align: center;
  }
ion-title{
  font-size: 2em;

  }

  .body-line{
    margin-left: 20%;
    font-family: 'Fonte', sans-serif;
  
  }

  .radius{
    background: #382439;
    border-radius:20px 20px 0px 0px;
    height: 100%;
  }



