<ion-toolbar>
  <ion-title class="break"> Selecione o barbeiro </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">



<ion-grid class="radius">
  <ion-toolbar class="botao-voltar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-row  *ngFor="let item of items; let ix = index" [ngClass]="{'select-row': item.adicionado}">
    <ion-row>
      <ion-button type="submit" class="body-button" (click)="addItem(item)" >{{ item.titulo }}</ion-button>
    </ion-row>

  </ion-row>   

    <ion-footer>
      <ion-button type="rodape" expand="block" routerLink="/agen-barb" >Ir para agenda!</ion-button>
    </ion-footer>
    
</ion-grid>



</ion-content>



