<ion-toolbar>
  <ion-title class="break"> Selecione o barbeiro </ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">



<ion-grid class="radius">
  <ion-toolbar class="botao-voltar">
      <ion-row>
        <ion-icon name="chevron-back-outline" class="voltar" routerLink="/home"></ion-icon>
      </ion-row> 
  </ion-toolbar>

  <ion-row  *ngFor="let barbeiro of listaFuncionario; let ix = index">
    <ion-col>
      <ion-row>
        <ion-button type="submit" (click)="barbeiroSelec(); pushPage(barbeiro)">{{ barbeiro.titulo }}</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>   


</ion-grid>



</ion-content>



