ion-button[type="submit"] {
    --ion-color-primary: #149529;
    --ion-color-primary-shade: #096919;
    --border-radius: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-input[type="text"]{
    background-color: #65536c;
    border-radius: 20px;
    border: 8px solid #65536c;
    margin-top: 2%;
    width: 300px;
  }
  
  ion-input[type="email"]{
    background-color: #65536c;
    border-radius: 20px;
    border: 8px solid #65536c;
    margin-top: 2%;
    width: 300px;
  }
  
  ion-input[type="password"]{
    background-color: #65536c;
    border-radius: 20px;
    border: 8px solid #65536c;
    margin-top: 2%;
    width: 300px;
  }
  
  .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
    
  .logo img {
      margin-bottom: 15%;
      margin-top: 15%;
      max-width: 55%;
  }

.faz-log {
  font-size: 12px;
  text-align: right;
  margin-inline-end: 12%;
  margin-top: -10px;
}

.cadastro {
  flex-direction: column;
  display: flex;
  align-items: center;
}