<ion-content scroll-y=false class="conteudo">
  
  <div class="logo">
    <img src="assets/04-3.png" alt="Imagem" />
  </div>

<div class="cadastro">
  <ion-col size="12">
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()">
      <ion-row>
        <ion-col size="12">
          <label class="form-label">Nome</label>
          <input
            placeholder="Nome"
            type="text"
            name="nome"
            class="form-control"
            formControlName="nome"
          />
        </ion-col>
        <ion-col size="12">
          <label class="form-label">Email</label>
          <input
            placeholder="email"
            type="text"
            name="email"
            class="form-control"
            formControlName="email"
            mask="separator.2"
            suffix="kg"
          />
        </ion-col>
        <ion-col size="12">
          <label class="form-label">Senha</label>
          <input
            placeholder="senha"
            type="text"
            name="senha"
            class="form-control"
            formControlName="senha"
            mask="separator.2"
            suffix="m"
          />
        </ion-col>
         
      
        <ion-col size="6">
          <ion-button
            color="warning"
            expand="block"
            fill="outline"
            (click)="voltar()"
            >Voltar</ion-button
          >
        </ion-col>
        <ion-col size="6">
          <ion-button
            color="success"
            expand="block"
            fill="outline"
            type="submit"
            >Cadastrar</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-col>
    </div>
  <div class="faz-log">
    <ion-col>
      <p>Já possui cadastro?<ion-router-link routerLink="/login"> Login</ion-router-link></p>
    </ion-col>
  </div>
  
</ion-content> 



