<div scroll-y=false class="conteudo">
  
  <div class="logo">
    <img src="assets/04-3.png" alt="Imagem" />
  </div>

<div class="cadastro">
  <div >
    <form formGroup="formulario" (ngSubmit)="cadastrar()">
      <div>
        <div >
          <label class="form-label">Nome</label>
          <input
            placeholder="Nome"
            type="text"
            name="nome"
            class="form-control"
            formControlName="nome"
          />
        </div>
        <div >
          <label class="form-label">Email</label>
          <input
            placeholder="email"
            type="text"
            name="email"
            class="form-control"
            formControlName="email"
            mask="separator.2"
            suffix="kg"
          />
        </div>
        <div >
          <label class="form-label">Senha</label>
          <input
            placeholder="senha"
            type="text"
            name="senha"
            class="form-control"
            formControlName="senha"
            mask="separator.2"
            suffix="m"
          />
        </div>
         
      
        
        <div class="col" >
          <button
            color="success"
            expand="block"
            fill="outline"
            type="submit"
            >Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
    </div>
  
  
</div> 



